{% load staticfiles %}
<html ng-app="project">
<head>
	<title>Angularjs structure</title>
</head>
<body>
	<div ng-view></div>
	
	<script type="text/javascript" src="{% static "angularjs_structure/scripts/angular.min.js" %}"></script>
	<script type="text/javascript" src="{% static "angularjs_structure/scripts/angular-route.min.js" %}"></script>
	<script type="text/javascript" src="{% static "angularjs_structure/scripts/angular-resource.min.js" %}"></script>
	<script type="text/javascript" src="{% static "angularjs_structure/scripts/app.js" %}"></script>
</body>
</html>